<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- везде без пробелов!!! -->

    <link rel="stylesheet" type="text/css" href="css/styles.css" />
<!-- used: mobile-first-approach, EJS->HTML, SASS->CSS, GULP -->
</head>

<body>

    <div class="wrapper">

        <header class="header">
            <h1 class="header-heading header__heading">Picture perfect</h1>
            <p class="header-text header__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </header>

