

//fonts

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


// mixins
$text-color--lighter: #fff;
$text-color--light: #939393;
$text-color: #8796a5;
$text-color--dark: #282a2a;


@mixin lighttext-style--light {
  color: $text-color--lighter;
  font-family: "OpenSans-Light";
}
@mixin lighttext-style {
  color: $text-color;
  font-family: "OpenSans-Light";
}
@mixin lighttext-style--dark {
  color: $text-color--dark;
  font-family: "OpenSans-Light";
}
@mixin text-style {
  color: $text-color--light;
  font-family: "OpenSans";
}
@mixin boldtext-style--light {
  color: $text-color--lighter;
  font-family: "OpenSans-Bold";
}

// common styles

body {
  margin: 0;
  overflow-x: hidden;

  @media (min-width: 1200px) {
    padding-left: 10rem;
    padding-right: 10rem;
  }

}

.wrapper {
  width: 100%;
  @media (min-width: 1600px) {
    max-width: 1600px;
  }
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  height: 30rem;
  @media(min-width: 960px) {
    height: 45rem;
  }
  background-image: url("../img/landscape.png");
  background-size: cover;
  padding: 2rem 5rem;
}

.header-heading {
  font-size: 5rem;
  @include lighttext-style--light;
}

.header__heading { //positioning

}

.header__text { //positioning

}

.header-text {
  @include lighttext-style--light;
  font-size: 1.08rem;
  @media(min-width: 640px) {
    max-width: 50%;
  }
  @media(min-width: 960px) {
    max-width: 20%;
  }
}

.header-img { //block styles
  width: 35%;
  @media(min-width: 1200px) {
    width: 43%;
  }
  @media(min-width: 1300px) {
    width: 40%;
  }
  @media(min-width: 1400px) {
    width: 36%;
  }
  @media(min-width: 1500px) {
    width: 30%;
  }
}

.header__img { // block positioning
  display: none;
  position: absolute;
  @media(min-width: 1050px) {
    display: block;
    top:40%;
    left: 60%;

  }
}




// tier


.tier {
  // padding: 2rem 5rem;
  display: grid;
  height:70rem;
  grid-template-columns: 100%;
  grid-template-rows: 15% 45% 25%;
  grid-template-areas: "header--left"
                       "text--left"
                        "text--right " ;
  padding-top: 3rem;


  @media(min-width: 360px) {
    height: 65rem;
    grid-template-columns: 100%;
    grid-template-rows: 15% 45% 25%;
    padding-top: 0;
  }
  @media(min-width: 410px) {
    grid-template-rows: 15% 40% 25%;
  }
  @media(min-width: 430px) {
    height: 50rem;
    grid-template-rows: 15% 55% 30%;
  }

  @media(min-width: 480px) {
    height: 45rem;
    grid-template-columns: 100%;
    grid-template-rows: 15% 50% 35%;
    /*   // было:
    height: 60rem;
    grid-template-columns: 100%;
    grid-template-rows: 10% 36% 30%;*/
  }
  @media(min-width: 600px) {
    height: 40rem;

    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 40% 30%;

    grid-template-areas: "header--left ."
    "text--left text--right " ;
  }

  @media(min-width: 1100px) {
    height: 30rem;
   grid-template-rows: 25% 20% 55% ;
  }
  @media(min-width: 1400px) {
    height: 34rem;
    grid-template-rows: 40% 40% 10% ;
  }
}

.tier-header {
  font-size: 2.5rem;
  @include lighttext-style--dark;
  font-weight: lighter;
  justify-self: center;
  align-self: end;
  padding-left: 3rem;
}

.tier__header {
  grid-area: header--left;

}

.tier-text {

  @include text-style;
  text-align: justify;

  @media(min-width: 720px) {
   // width: 50%;
  }

}

.tier__text {
 // justify-content: flex-start; //
  grid-area: text--left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.tier__text--right {
  grid-area: text--right;
  // align-self: flex-end; //
}


.box {
  width: 98%;
  height: 80rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "item0"
  " item1"
  " item2 "
  " item3"
  "item4"
  " item5"
  " item6";
  margin: .5rem;
  /*

  grid-template-areas: "header--left ."
  "text--left text--right " ;
  */



  @media(min-width: 480px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: "item0 item1"
    " item2 item3"
    "item4 item4"
    " item5 item6";
    margin: .5rem;
    /*

    grid-template-areas: "header--left ."
    "text--left text--right " ;
    */

  }


  @media(min-width: 600px) {
    margin-top: 10rem;

  }

  @media(min-width: 760px) {
    height: 42rem;
    line-height: 1rem;
    margin-top: 2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "item0 item1 item2 item3"
    "item4 item4 item5 item6";
  }
}

.box-item {
  @include lighttext-style--light;
  font-size: 1rem; //13pt
  line-height:1.5rem ;
  padding: .5rem;
  @media(min-width: 960px) {
    line-height: 2rem; //24pt
  }
  }


.box-item0 {
  grid-area: item0;
  background: #df969b;
  }
.box-item1 {
  grid-area: item1;
  background: #615f7b;
}
.box-item2 {
  grid-area: item2;
  background-image: url("../img/img2.png");
  }
.box-item3 {
  grid-area: item3;
  background: #af8bbc;
  }
.box-item4 {
  grid-area: item4;
  background: url("../img/img1.png");
  }

.box-item5 {
  grid-area: item5;
  background: #99c89d;
  }
.box-item6 {
  grid-area: item6;
  background: url("../img/img3.png");
}

.box-header {
  @include lighttext-style--light;
  font-size: 1.875rem; //30pt
}

.box__more {
  @include boldtext-style--light;
}


// details
.details {
  @include lighttext-style;

  margin-top: 17rem; // отступы вынести в отдельный класс, который отвечает за позиционирование?
  @media(min-width: 400px) {
    margin-top:10rem;
  }
  @media(min-width: 480px) {
    margin-top:0;
    margin-left: 1rem;
  }
}

.details__header {
  margin-left: 1rem;
  @media(min-width: 450px) {
    margin-left: 3rem;

  }

}
.details-header {
  font-size: 2.9rem; //35pt
  font-weight: lighter;
}
.details__item {

  margin-left: 2%;
  margin-right: 2%;

  @media(min-width: 1024px) {
    margin-left: .5rem;
    margin-right: .5rem;
  }


}
.details-item {
  display: inline-block;
  font-size: 1.16rem; //14pt;
  line-height: 2rem; //24pt;
  width:96%;


  @media(min-width: 768px) {
    width:45%;
  }

  @media(min-width: 1024px) {
    width:22%;
  }

}

.details-item__header {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-weight: bold;
}

.details-item__text {

}


